{% extends 'base.html' %}

{% block head %}
  <title>Game</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/game.css') }}">
{% endblock %}

{% block body %}
  <div id="overlay"></div>
  <div id="game-container">
    <h1>Python Pals</h1>
    <br><br>
    <div id="game-window">
      <div class="panel" id="commentary">
        <ul id="commentary-list"></ul>
      </div>
      <div class="panel" id="actions">
        <div id="compass" class="compass">
          <div class="compass-inner">
            <div class="direction-seg" id="north"></div>
            <div class="direction" id="north">N</div>
            <div class="direction-seg" id="east"></div>
            <div class="direction" id="east">E</div>
            <div class="direction-seg" id="south"></div>
            <div class="direction" id="south">S</div>
            <div class="direction-seg" id="west"></div>
            <div class="direction" id="west">W</div>
            <div class="main-arrow">
              <div class="arrow-up"></div>
              <div class="arrow-down"></div>
            </div>
          </div>
        </div>
        <form onsubmit="return false;">
          <input id="scavenge_button" type="submit" value="Scavenge for Materials">
        </form>
        <form onsubmit="return false;">
          <input id="sleep_button" type="submit" value="Sleep">
        </form>
      </div>
      <div class="panel" id="player">

        <table id="map">
          {% for i in range(12) %}
            {% if (11-i) == player.location_y %}

              {% for n in range(25) %}
                {% if n == player.location_x %}
                  <td id="starting_square" style="background:red;"></td>
                {% else %}
                  <td></td>
                {% endif %}
              {% endfor %}

            {% else %}

              <tr>
                {% for n in range(25) %}
                    <td></td>
                {% endfor %}
              </tr>

            {% endif %}



          {% endfor %}
        </table>


        <table id="statistics">
          <tr>
            <th>{{player.name}}</th>
            <th id="location">[{{player.location_x}}, {{player.location_y}}]</th>

          </tr>
          <tr>
            <td>Health</td>
            <td class="col_r" id="health">{{player.health}}</td>
          </tr>
          <tr>
            <td>Hunger</td>
            <td class="col_r" id="hunger">{{player.hunger}}</td>
          </tr>
          <tr>
            <td>Energy</td>
            <td class="col_r" id="energy">{{player.energy}}</td>
          </tr>
          <tr>
            <td><img src="https://img.icons8.com/metro/26/000000/sword.png"> {{items.damage}}</td>
            <td class="col_r"><img src="https://img.icons8.com/metro/26/000000/shield.png"> {{items.armour}}</td>
          </tr>
        </table>

        <table id="inventory">
            <tr>
              <th>Inventory<th>
              <th></th>
            </tr>
            {% for item in items.items %}
              <tr>
                <td class="item-name"><a href="" data-trigger="hover" data-toggle="popover" title="{{ item.name }}" data-content="{{ item.description }}" data-html="true">{{ item.name }}</a></td>
                <td class="item-quantity">{{ item.quantity }} </td>
              </tr>
            {% endfor %}
        </table>

      </div>
    </div>
  </div>

  <div id="footer">
    <form id="new-game-button" action="/" method="POST">
      <input type="submit" name="new_game" value="New Game">
    </form>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script>
  $(document).ready(function(){
  $('[data-toggle="popover"]').popover();
  });
  </script>

  <script type=text/javascript src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock %}
